{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {# <link rel="stylesheet" href="{% static 'full_style.css' %}"> #}
  <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>
<body>
  {% include 'navbar/index.html' %}
  <div class="min-h-[calc(100vh_-_4rem)] w-full flex items-center justify-center bg-gray-200/50">
    <div class="mx-auto max-w-7xl">
      {% block body %}{% endblock body %}
    </div>
  </div>
</body>
</html>