{% extends 'base.html' %}

{% block content_title %}
<div class="my-10 text-3xl font-bold">
  Danh sách dự án
</div>
{% endblock content_title %}

{% block body %}
  <div class="grid grid-cols-1 gap-2 auto-rows-fr">
    {% for project in projects %}
    <div class="flex items-center px-4 py-2 bg-white shadow-md rounded-xl">
      <div class="flex-1">
        <a href="{% url 'project:detail' project.slug %}" class="text-lg font-semibold hover:text-blue-500">
          {{ project.title }}
        </a>
      </div>
      <div class="flex items-center gap-2 flex-end">
        <a href="#" class="border px-3 py-2 font-semibold text-white rounded-lg shadow-md transition-all ease-in-out duration-500 hover:bg-[100%_0%] btn-default">Join</a>
        <a href="#" class="border px-3 py-2 font-semibold text-white rounded-lg shadow-md transition-all ease-in-out duration-500 hover:bg-[100%_0%] btn-default">Update</a>
        <a href="#" class="border px-3 py-2 font-semibold text-white rounded-lg shadow-md transition-all ease-in-out duration-500 hover:bg-[100%_0%] btn-light-red">Stop</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock body %}