{% extends "base.html" %}

{% block body %}
<div class="m-auto flex flex-col items-center justify-center">
  <div class="font-bold uppercase text-xl -mt-20">
    Đăng nhập vào tài khoản
  </div>
  <form action="" method="post" class="rounded-xl border mt-10 bg-white shadow p-4 w-80">
    {% csrf_token %}
    <label for="username" class="block mt-5">
      <span class="font-semibold text-gray-700">
        Tên đăng nhập
      </span>
      <input type="text" name="username" id="username" autocomplete=off class="w-full rounded-lg">
    </label>
    <label for="password" class="block mt-5">
      <span class="font-semibold text-gray-700">
        Mật khẩu
      </span>
      <input type="password" name="password" id="password" autocomplete=off class="w-full rounded-lg">
    </label>
    <div class="flex flex-col mt-5">
      <input type="submit" value="Đăng nhập" class="bg-blue-500 text-white p-2 rounded-lg">
    </div>
  </form>
</div>
{% endblock body %}